<?xml version="1.0"?>
<ocs>
  <meta>
    <status>${status}</status>
    <statuscode>${statuscode}</statuscode>
    <message>$!{message}</message>
  </meta>
#if ( ! ${users.isEmpty()} )
  <data>
    <users>
#foreach ( $user in ${users} )
      <element>${user}</element>
#end
    </users>
  </data>
#else
  <data/>
#end
</ocs>