<?xml version="1.0"?>
<ocs>
  <meta>
    <status>${status}</status>
    <statuscode>${statuscode}</statuscode>
    <message>$!{message}</message>
  </meta>
  <data>
    <enabled>${enabled}</enabled>
    <quota>
      <free>$!{free}</free>
      <used>$!{used}</used>
      <total>$!{quota}</total>
      <relative>$!{relative}</relative>
    </quota>
#if ( ${email} )
    <email>${email}</email>
#end
    <displayname>${displayname}</displayname>
    <two_factor_auth_enabled>false</two_factor_auth_enabled>
  </data>
</ocs>
